$gray: #F8F7F9;
$gray: rgba(255, 255, 255, 0.5);

$green-dark: #70E000;
$green-dark-light:#2E7D32;
$green-middle: #32A932;
$green: #69B86C;
$green-light: #d0ffa0;
$green-ultra-light: #E8F3E8;
$green-tiny-light: #C8E6C9;

$white: #FFFFFF;
$white80: #FFFFFF80;
$white-opac-30: rgba(255, 255, 255, 0.3);
$white20: #FFFFFF33;
$white29: #FFFFFF4A;

$black-def: #000000;
$black: #151C19;
$black-middle: #101312;

