@import "../../../assets/styles/variables/variables.scss";
@import "../../../assets/styles/mixins/mixins.scss";

:global {
    .ant-select-selector {
      border-color: transparent !important;
      background-color: transparent !important;
      border: none !important;
    }
    .ant-select-item{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-select-selection-item {
      @include text-h3;
      color: $white !important;
    }
    .ant-select-item-option-content {
      @include text-h3;
    }
    .anticon > svg{
      fill: #FFFFFF;
      width: 12px;
      height: 12px;
    }
    .ant-select-dropdown{
      background-color: $black !important;
    }
    .ant-select-item{
      background-color: $black !important;
    }
  }